.event-form {
    background: #fdfdfd;
    padding: 20px;
    border-radius: 8px;
    border: 1px solid #ddd;
    margin-bottom: 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.event-form input, .event-form textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    flex: 1 1 200px;
}

.event-form textarea { flex: 1 1 100%; }

#btn-save-event {
    background-color: #27ae60;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
}

/* Tabla Admin */
.admin-table {
    width: 100%;
    border-collapse: collapse;
    background: white;
}

.admin-table th, .admin-table td {
    text-align: left;
    padding: 12px;
    border-bottom: 1px solid #eee;
}

.admin-table th { background-color: #f8f9fa; color: #000000; }

.btn-edit { background: #3498db; color: white; border: none; padding: 5px 10px; border-radius: 3px; cursor: pointer; margin-right: 5px;}
.btn-delete { background: #e74c3c; color: white; border: none; padding: 5px 10px; border-radius: 3px; cursor: pointer; }